<section class="section" id="awards" aria-labelledby="awards-title">
  <div class="container">
    <h2 id="awards-title">Academic Awards</h2>
    <ul class="list card">
      <li>3rd Honor during 1st Year, A.Y. 2024-2025</li>
      <li>3rd Honor during 2nd Year, A.Y. 2021-2022</li>
      <li>3rd Place, Pairamid Series: Pairamid 1 during the 30th Annual Regional Convention, May 2023</li>
    </ul>
  </div>
</section>
